<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Inloggen')"></head>
<body>
	<h1>Inloggen</h1>
	<form th:action="@{/login}" method="post">
		<label>Gebruikersnaam:<input name="username" required autofocus></label><br>
		<label>Paswoord:<input name="password" type="password"	required></label> <input type="submit" value="Inloggen">
	</form>
	<div th:if="${param.error} != null" class="fout">Verkeerde	gebruikersnaam of paswoord</div>
</body>
</html>